<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
    <link rel="stylesheet" href="../../style/bootstrap.min.css">
</head>
<body>
<table class="table table-hover col-md-6" id="promo_table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Creation</th>
        <th>Expiration</th>
        <th>Valeur</th>
        <th>Action</th>
    </tr>
    </thead>
</table>
<script src="../promo_form/promo-script.js"></script>
<script src="promo_list.js"></script>
</body>
</html>